<!DOCTYPE html>
<html>
		<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<title>{{template "title" .}}</title>
				<link rel="stylesheet" href="/static/style.css" />
				<link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
				<link rel="icon" type="image/png" href="/static/favicon.png">
				{{block "head-extra" .}}{{end}}
		</head>
		<body>
				{{template "navbar.html" .}}
				<section class="">
						<div class="main-container">
								{{block "content" . }}{{end}}
						</div>
				</section>
				{{template "footer.html" .}}
		</body>
</html>
