
:root {
		--color-dark: #1c1524;
		--color-light: #ccc9d1;
		--color-accent: #6b1aed;
		font-family: monospace;
}

body {
		background-color: var(--color-dark);
		color: var(--color-light);
		font-family: monospace;
		text-align: center;
		margin: 0px;
		min-height: 70vh;
}

footer {
		bottom: 0;
		width: 100%;
		height: 2.5rem;
}

.glightbox img {
		width: 300px
}

.row {
		display: flex;
		flex-wrap: wrap;
		padding: 0 4px;
		justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {

		flex: 20%;
		max-width: 20%;
		padding: 0 4px;
}

.column img {
		margin-top: 8px;
		vertical-align: middle;
		width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
		.column {
				flex: 50%;
				max-width: 50%;
		}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
		.column {
				flex: 100%;
				max-width: 100%;
		}
}

.login {
		display:flex;
		flex-direction: column;


}
.center {
		display: flex;
		justify-content: center;
		align-items: center;
}
.container {
		min-height: 90vh;
}

.login-container {
		height: 90vh;
}

input::placeholder {
		text-align: center;
		font-family: monospace;
}

input{
		border: 3px solid var(--color-accent);
		color: var(--color-accent);
		background-color: var(--color-dark);
		text-align: center;
}

button{

		background-color: var(--color-accent);
		color: var(--color-dark);
		text-align: center;
		font-family: monospace;
}

input , button{
		width: 100%;
		padding: 8px 8px;
		margin: 8px 0;
		box-sizing: border-box;
}

ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: var(--color-dark);


		position: fixed;
		top: 0;
		width: 100%;
}

nav ul li {
		float: left;
		display: block;
		padding: 10px 16px;
}

li a {
		color: white;
		text-align: center;
		text-decoration: none;
}

li a:hover {
		background-color: var(--color-accent);
}

/* Albums */ 


/* When you mouse over the container, fade in the overlay title */
.album-cover-container:hover .album-cover-overlay {
		opacity: .9;
}


/* The overlay effect - lays on top of the container and over the image */
.album-cover-overlay {
		background: var(--color-dark);
		bottom: 0;
		color: var(--color-accent);
		font-size: 2em;
		opacity: .7;
		padding-bottom: 20px;
		padding-top: 20px;
		position: absolute;
		text-align: center;
		transition: .3s ease;
		width: 100%;
}


/* Container needed to position the overlay. Adjust the width as needed */
.album-cover-container {
		position: relative;
		width: calc(100% - 6px); /* substract border */
		border: 3px solid var(--color-dark);
}

.album-cover-container:hover {
		border: 3px solid var(--color-accent);
}

/* Make the image to responsive */
.album-cover-image {
		display: block;
		object-fit: cover;
		width: 100%;
		aspect-ratio: 1/1;
}


