body {
		background-color: #1c1524;
		color: #ccc9d1;
		font-family: monospace;
		text-align: center;
}
.glightbox img {
		width: 300px
}

.row {
		display: flex;
		flex-wrap: wrap;
		padding: 0 4px;
		justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {

		flex: 20%;
		max-width: 20%;
		padding: 0 4px;
}

.column img {
		margin-top: 8px;
		vertical-align: middle;
		width: 100%;
}

				  /* Responsive layout - makes a two column-layout instead of four columns */
				  @media screen and (max-width: 800px) {
						  .column {
								  flex: 50%;
								  max-width: 50%;
						  }
				  }

				  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
				  @media screen and (max-width: 600px) {
						  .column {
								  flex: 100%;
								  max-width: 100%;
						  }
				  }


						
