
:root {
		--color-dark: #1c1524;
		--color-light: #ccc9d1;
		--color-accent: #6b1aed;

		--screen-size-m: 800px;
		--screen-size-s: 600px;

		font-family: monospace;

}

@media (max-width: var(--screen-size-m)) { }
@media (max-width: var(--screen-size-s)) { }

/* * { box-sizing: border-box; } */

body {
		background-color: var(--color-dark);
		color: var(--color-light);
		font-family: monospace;
		text-align: center;
		margin: 0px;
		min-height: 70vh;
}

footer {
		bottom: 0;
		width: 100%;
		height: 2.5rem;
}

.login {
		display:flex;
		flex-direction: column;
}

.center {
		display: flex;
		justify-content: center;
		align-items: center;
}

.main-container {

		margin: auto;
		min-height: 90vh;
		padding-top: 20px;
		max-width: 80%;
}


/* login.html */

.login-container {
		height: 90vh;
}

input::placeholder {
		text-align: center;
		font-family: monospace;
}

input{
		border: 3px solid var(--color-accent);
		color: var(--color-accent);
		background-color: var(--color-dark);
		text-align: center;
}

button{

		background-color: var(--color-accent);
		color: var(--color-dark);
		text-align: center;
		font-family: monospace;
}

input , button{
		width: 100%;
		padding: 8px 8px;
		margin: 8px 0;
		box-sizing: border-box;
}

/* nav.html */

.navlist {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: var(--color-dark);


		position: fixed;
		top: 0;
		width: 100%;
}

nav {
		margin-bottom: 10px;
}

nav ul li {
		float: left;
		display: block;
		padding: 10px 16px;
}

.navlist li a {
		color: white;
		text-align: center;
		text-decoration: none;
}

.navlist li a:hover {
		background-color: var(--color-accent);
}

/* index.html */
/* When you mouse over the container, fade in the overlay title */
.album-cover-container:hover .album-cover-overlay {
		opacity: .9;
}

/* The overlay effect - lays on top of the container and over the image */
.album-cover-overlay {
		background: var(--color-dark);
		bottom: 0;
		color: var(--color-accent);
		font-size: 2vh;
		opacity: .7;
		padding-bottom: 2vh;
		padding-top: 2vh;
		position: absolute;
		text-align: center;
		transition: .3s ease;
		width: 100%;
}

.album-list {
		display: flex;
}

.album-cover {
		width: 25%;
		padding: .5vw;
}

.album-cover-container {
		position: relative;
		border: 3px solid var(--color-dark);
		margin-bottom: 1em;
}

.album-cover-container:hover {
		border: 3px solid var(--color-accent);
}

.album-cover-image {
		display: block;
		object-fit: cover;
		width: 100%;
		aspect-ratio: 1/1;
}

/* album.html */

.albumitem {
		flex-grow: 1;
		margin: 5px;
		height: 100%;
}


.albumlist {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		padding: 0px;
}

.albumlist li {
		height: 40vh;
		flex-grow: 1;
		margin: 10px;
}

.albumlist li:last-child {
		flex-grow: 100;
}

img {
		max-height: 100%;
		min-height: 100%;
		min-width: 100%;
		max-width: 100%;
		object-fit: cover;
		vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
		.albumlist li {
				height: 30vh;
		}
}

@media (max-height: 480px) {
		.albumlist li {
				border: 1px solid blue;
				height: 80vh;
		}
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
		.albumlist {
				flex-direction: row;
		}

		.albumlist li {
				border: 1px solid pink;
				height: auto;
				width: 100%;
		}

		.albumlist li img {
				width: 100%;
				max-height: 75vh;
				min-width: 0;
		}
}
