{{template "layout.html" .}}

{{define "title"}}{{.albumTitle}}{{end}}

{{define "head-extra"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
{{end}}

{{define "content"}}

<h2>{{ .albumTitle}}</h2>

<ul class="albumlist">
	{{range $index, $img := .images}}

	<li>
		<a href="/albums/{{$.albumTitle}}/{{$img}}" class="glightbox">
			<img src="/thumbnails/{{$.albumTitle}}/{{$img}}.jpg" alt="image" />
		</a>
	</li>
	{{else}} <li>  <strong>No Images</strong></li> {{end}}
</ul>

<script type="text/javascript">
	var lightbox = GLightbox( { selector:  '.glightbox' });
	lightbox.on('open', (target) => {
			console.log('lightbox opened');
			console.log(target);
		});
		console.log("lightbox loaded");
</script>

{{end}}


