{{template "layout.html" .}}

{{define "title"}}{{.albumTitle}}{{end}}

{{define "head-extra"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
{{end}}

{{define "content"}}

<h2>{{ .albumTitle}}</h2>

<ul class="albumlist">
		{{range $index, $img := .images}}

		<li>
				<a href="/albums/{{$.Data.Album}}/{{$img}}" class="glightbox">
						<img class="" src="/thumbnails/{{$.albumTitle}}/{{$img}}.jpg" alt="image" />
				</a>
		</li>
		{{else}} <strong>No Images</strong>
		{{end}}
  <li> </li>
</ul>

<script type="text/javascript">
		var lightbox = GLightbox();
		lightbox.on('open', (target) => { console.log('lightbox opened'); });
</script>

{{end}}


