{{template "layout.html" .}}

{{define "title"}}{{.Data.Album}}{{end}}

{{define "head-extra"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
{{end}}

{{define "content"}}













<!-- <!-1- Simple image -1-> -->
<!-- <a href="large.jpg" class="glightbox"> -->
<!--   <img src="small.jpg" alt="image" /> -->
<!-- </a> -->

<!-- <!-1- Video -1-> -->
<!-- <a href="https://vimeo.com/115041822" class="glightbox2"> -->
<!--   <img src="small.jpg" alt="image" /> -->
<!-- </a> -->

<!-- <!-1- Gallery -1-> -->
<!-- <a href="large.jpg" class="glightbox3" data-gallery="gallery1"> -->
<!--   <img src="small.jpg" alt="image" /> -->
<!-- </a> -->
<!-- <a href="video.mp4" class="glightbox3" data-gallery="gallery1"> -->
<!--   <img src="small.jpg" alt="image" /> -->
<!-- </a> -->

<!-- <!-1- Simple Description -1-> -->
<!-- <a href="large.jpg" class="glightbox4" data-glightbox="title: My title; description: this is the slide description"> -->
<!--   <img src="small.jpg" alt="image" /> -->
<!-- </a> -->

<!-- <!-1- Advanced Description -1-> -->
<!-- <a href="large.jpg" class="glightbox5" data-glightbox="title: My title; description: .custom-desc1"> -->
<!--   <img src="small.jpg" alt="image" /> -->
<!-- </a> -->

<!-- <div class="glightbox-desc custom-desc1"> -->
<!--   <p>The content of this div will be used as the slide description</p> -->
<!--   <p>You can add links and any HTML you want</p> -->
<!-- </div> -->

<!-- <!-1- URL with no extension -1-> -->
<!-- <a href="https://picsum.photos/1200/800" data-glightbox="type: image"> -->
<!--   <img src="small.jpg" alt="image" /> -->
<!-- </a> -->
<!-- <!-1- OR using multiple data attributes -1-> -->
<!-- <a href="https://picsum.photos/1200/800" data-type="image"> -->
<!--   <img src="small.jpg" alt="image" /> -->
<!-- </a> -->

<!-- Using responsive images: specify sizes and srcset through data attributes in the
		same way you would with the img tag.
		See: https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images -->
		<!-- <a href="deafult.jpg" class="glightbox6" data-title="Responsive example" -->
		<!-- data-description="Your browser will choose the optimal image for the resolution" -->
		<!-- data-sizes="(max-width: 600px) 480px, 800px" -->
		<!-- data-srcset="img480.jpx 480w img800.jpg 800w"> -->
		<!--   <img src="small.jpg" alt="image" /> -->
		<!-- </a> -->



		<h2> {{.Data.Album}}</h2>
		<div class="row">
				<div class="column">
						{{range $index, $img := .Data.Images}}
						{{if incolumn 0 $index }}
						<a href="/albums/{{$.Data.Album}}/{{$img}}" class="glightbox"> <img src="/albums/{{$.Data.Album}}/{{$img}}?thumbnail=true" alt="image" /> </a>
						{{end}}
						{{else}} <strong>No Images</strong>
						{{end}}
				</div>

				<div class="column">
						{{range $index, $img := .Data.Images}}
						{{if incolumn 1 $index }}
						<a href="/albums/{{$.Data.Album}}/{{$img}}" class="glightbox"> <img src="/albums/{{$.Data.Album}}/{{$img}}?thumbnail=true" alt="image" /> </a>
						{{end}}
						{{else}} <strong>No Images</strong>
						{{end}}
				</div>

				<div class="column">
						{{range $index, $img := .Data.Images}}
						{{if incolumn 2 $index }}
						<a href="/albums/{{$.Data.Album}}/{{$img}}" class="glightbox"> <img src="/albums/{{$.Data.Album}}/{{$img}}?thumbnail=true" alt="image" /> </a>
						{{end}}
						{{else}} <strong>No Images</strong>
						{{end}}
				</div>

				<div class="column">
						{{range $index, $img := .Data.Images}}
						{{if incolumn 3 $index }}
						<a href="/albums/{{$.Data.Album}}/{{$img}}" class="glightbox"> <img src="/albums/{{$.Data.Album}}/{{$img}}?thumbnail=true" alt="image" /> </a>
						{{end}}
						{{else}} <strong>No Images</strong>
						{{end}}
				</div>
		</div>




		<script type="text/javascript">
				//  const lightbox = GLightbox({
				//					  touchNavigation: true,
				//				  selector: 'glightbox',
				//    loop: true,
				//    autoplayVideos: true});


				var lightbox = GLightbox();
				lightbox.on('open', (target) => {
										console.log('lightbox opened');
								});

				/* var exampleApi = GLightbox({ selector: null });
			   exampleApi.insertSlide({
			   href: 'https://picsum.photos/1200/800',
			   });
			   exampleApi.insertSlide({
			   width: '500px',
			   content: '<p>Example</p>'
			   });
			   exampleApi.insertSlide({
			   href: 'https://www.youtube.com/watch?v=WzqrwPhXmew',
			   });
			   exampleApi.insertSlide({
			   width: '200vw',
			   content: document.getElementById('inline-example')
			   });
			   exampleApi.open(); */

				console.log(lightbox);
		</script>

		{{end}}
