{{define "title"}}Albums{{end}}
{{define "content"}}
<h2>Albums</h2>


<div class="row start-xs start-sm start-md start-lg">
		{{range $index, $album := .Data.Albums}}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<a href="/albums/{{$album.Name}}">
						<div class="album-cover-container">
								<img src="{{$album.Cover}}?thumbnail=true" alt="{{$album.Name}}" class="album-cover-image">
								<div class="album-cover-overlay">{{$album.Name}}</div>
						</div>
				</a>
		</div>
		{{else}} <strong>No Albums</strong>
		{{end}}

</div>

{{end}}

{{template "layout.html" .}}


