
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Loign</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<div class="login-container center">
			<div class="login">
				{{if .}} <span class="error-message">{{.}}</span> {{end}}
				<form action="/login" method="post">
					<div>
						<input type="text" placeholder="Username" name="username" required autofocus="on">
					</div>
					<div>
						<input type="password" placeholder="Password" name="password" required>
					</div>
					<div>
						<button type="submit">Login</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
